@model DoAnChuyenNganh.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped" method="Get">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.product_id)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.product_name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Brand.brand_name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Origin.origin_name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SmallCategory.smallcategory_name)
                                    </th>
                                    <th>
                                        @*@Html.DisplayNameFor(model => model.product_image)*@
                                        @Html.DisplayName("Hình ảnh")
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.product_format)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.product_packing)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.product_user)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.product_uses)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.product_treatment)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.product_number)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.product_warning)
                                    <th>
                                        @Html.DisplayNameFor(model => model.product_description)
                                    </th>
                                
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => model.product_id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.product_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Brand.brand_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Origin.origin_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.SmallCategory.smallcategory_name)
                                    </td>
                                    <td>
                                        @*<img src="~/@Html.DisplayFor(model => model.product_image)" width="95" />*@
                                        <img src="~/Assets/images/@Html.DisplayFor(model => model.product_image)" width="95" />

                                    </td>

                                    <td>
                                        @Html.DisplayFor(model => model.product_format)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(model => model.product_packing)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.product_user)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.product_uses)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.product_treatment)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.product_number)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.product_warning)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.product_description)
                                    </td>

</table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.product_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
